<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" />
		<title>MVC With Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		
	</head>
	<body>
		{{{ body }}}
		<script src="./js/burgers.js"></script>
	</body>
</html>
